body {
        background-color: FloralWhite;
        background-repeat: no-repeat;
        background-position: center;
        background-size:100%;
        background-attachment: fixed;
	font-family: "Helvetica", Sans-Serif;
	
 }
h1 {
	text-align: center;
	color: white;
	font-size: 5em;
}
h4 {
	text-align: center;
	color: white;
	font-size: 2em;
}
p {
	text-align: left;
	color: white; 
}
footer {
	background-color: white;
	color: white;
	text-align: center;
}
p.double {
	border-style: double;
	border-width: 3px;
	border-color: black;
	padding: 5px;
}
